@import "tailwindcss";

@theme inline {
  --color-primary: #0d3251;
  --color-primary-light: #1f4e6d;
  --color-secondary: #9b8579;
  --color-secondary-light: #cbbeb4;
  --color-background: #f8f8f8;

  --font-cairo: "Cairo", sans-serif;

  --spacing-section-y-padding: 64px;
  --radius-card-radius: 20px;

  --breakpoint-header-breakpoint: 1100px;
}

@utility container {
  @apply mx-auto max-w-[1200px] px-4;
}

/* Color Utilities */
@utility gradient-bg-inside {
  @apply bg-linear-to-br from-[#0D3251] to-[#17476C];
}

@utility gradient-card-hover-light {
  @apply via-background bg-linear-to-br from-[#A5B2BD] to-[#F8F8F8];
}

@utility gradient-card-light-border {
  @apply from-primary bg-linear-to-l to-[#F8F8F8];
}

/* Text Utilities */
@utility text-hero {
  @apply font-cairo text-[60px] font-bold;
}
@utility text-heading {
  @apply font-cairo text-[40px] font-semibold;
}
@utility text-sub-heading {
  @apply font-cairo text-[28px] font-semibold;
}

@utility text-body-small {
  @apply font-cairo text-[16px] font-normal;
}
@utility text-body-regular {
  @apply font-cairo text-[18px] font-normal;
}
@utility text-body-large {
  @apply font-cairo text-[20px] font-normal;
}

@utility text-cta {
  @apply font-cairo text-[18px] font-bold;
}

/* Button Utilities */
@utility btn-primary {
  @apply text-cta bg-primary text-background hover:bg-primary-light max-lg:active:bg-primary-light cursor-pointer rounded-xl px-4 py-3 transition;
}

@utility btn-secondary {
  @apply text-cta text-background border-secondary-light hover:bg-secondary-light hover:text-primary max-lg:active:bg-secondary-light max-lg:active:text-primary cursor-pointer rounded-xl border bg-transparent px-4 py-3 transition;
}

/* Images Utitlities */
@utility white-svg {
  @apply brightness-0 invert;
}

/* Animation Utilities */
@utility duration-hover-fast {
  @apply duration-300 ease-in-out;
}
@utility duration-hover-normal {
  @apply duration-400 ease-in-out;
}
@utility duration-hover-slow {
  @apply duration-500 ease-in-out;
}

body {
  background: #f8f8f8;
  font-family: Cairo, sans-serif;
}

button {
  @apply cursor-pointer;
}

@view-transition {
  navigation: auto;
}

/* Swiper Styling */

.swiper-button-next,
.swiper-button-prev {
  @apply text-primary-light!;
}

.swiper-pagination-bullet {
  @apply bg-primary-light!;
}
