@import "tailwindcss";

@theme inline {
  --color-primary: #0d3251;
  --color-primary-light: #1f4e6d;
  --color-secondary: #9b8579;
  --color-secondary-light: #cbbeb4;
  --color-background: #f8f8f8;

  --font-cairo: "Cairo", sans-serif;

  --spacing-section-y-padding: 64px;
  --radius-card-radius: 20px;
}

@utility container {
  @apply mx-auto max-w-[1200px] px-4;
}

/* Color Utilities */
@utility gradient-bg-inside {
  @apply bg-linear-to-br from-[#5D819B] to-[#1A4D73];
}

@utility gradient-card-hover-light {
  @apply via-background bg-linear-to-br from-[#A5B2BD] to-[#F8F8F8];
}

@utility gradient-card-light-border {
  @apply from-primary-light bg-linear-to-l via-[#F8F8F8] via-55% to-[#F8F8F8];
}

/* Text Utilities */
@utility text-hero {
  @apply font-cairo text-[60px] font-bold;
}
@utility text-heading {
  @apply font-cairo text-[40px] font-semibold;
}
@utility text-sub-heading {
  @apply font-cairo text-[28px] font-semibold;
}

@utility text-body-small {
  @apply font-cairo text-[16px] font-normal;
}
@utility text-body-regular {
  @apply font-cairo text-[18px] font-normal;
}
@utility text-body-large {
  @apply font-cairo text-[20px] font-normal;
}

@utility text-cta {
  @apply font-cairo text-[18px] font-bold;
}

/* Button Utilities */
@utility btn-primary {
  @apply text-cta bg-primary text-background hover:bg-primary-light cursor-pointer rounded-xl p-4 transition;
}

@utility btn-secondary {
  @apply text-cta text-background border-secondary-light hover:bg-secondary-light hover:text-primary cursor-pointer rounded-xl border bg-transparent p-4 transition;
}

/* Images Utitlities */
@utility white-svg {
  @apply brightness-0 invert;
}

body {
  background: white;
  color: var(--foreground);
  font-family: Cairo, sans-serif;
}
